<!DOCTYPE HTML>
<html lang="en" ng-app="PainterApp">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="style/style.css"/>
</head>
<body id="body" ng-controller="PainterCtrl">
<div class="animate intro-text" ng-class="{'animate-hide': painter.images.length > 0}">
    <h1>Hello. I'm Pollock</h1>
    <h2>Please drop one or more images on me.</h2>
</div>
<div class="animate intro-text" ng-class="{'animate-hide': painter.images.length < 1 || painterStarted}">
    <div class="thumb" ng-repeat="img in painter.images">
        <img ng-src="{{img.url}}"/>
        <img style="display: none;" class="image" ng-src="{{img.url}}"/>
        <button class="close" ng-click="removeImage($index)">-</button>
    </div>

    <h1>Thanks</h1>
    <h2>When you have added all the pictures you want to add, just press... </h2>
    <button class="start-button animate" ng-click="start()">this button</button>


</div>
<button class="open-controls" ng-show="hideControls" ng-click="hideControls=false">+</button>
<form ng-class="{'animate-hide': !painter.hasLoaded || hideControls == true}" class="controls animate">
    <button class="close-controls" ng-click="hideControls=true">x</button>
    <label for="minBrushSize">Brush Size</label>
    <div style="width: 400px; position: relative; display: block;">
        <slider floor="1" ceiling="50" step="1" precision="2" ng-model-low="painter.brushMinSize" ng-model-high="painter.brushMaxSize"></slider>
    </div>
    <label for="brushCount">Brush Count</label>
    <input ng-model="painter.brushCount" type="text"/><br />
    <label for="brushType">Brush Type</label>
    <select id="brushType" ng-model="painter.brushType">
        <option ng-repeat="brush in brushTypes">{{brush}}</option>
    </select>
    <select id="brushMovementType" ng-model="painter.brushMovementType">
        <option ng-repeat="movement in brushMovements">{{movement}}</option>
    </select>
    <div ng-show="painter.brushMovementType == 'Random'" style="width: 400px; position: relative; display: block;">
        <label>How would you like your brushstrokes?</label>
        <select ng-model="painter.movementInterpolation">
            <option value="linp">Curved</option>
            <option value="discrete">Normal</option>
        </select>
        <label>How often to change direction</label>
        <slider floor="1" ceiling="1000" step="1" precision="2" ng-model-low="painter.movementChangeDirectionMin" ng-model-high="painter.movementChangeDirectionMax"></slider>
    </div>
</form>
<canvas id="canvas" width="{{painter.canvasWidth}}px" height="{{painter.canvasHeight}}px"></canvas>
</body>
<script src="js/dept.min.js"></script>
<script src="js/painter.js"></script>
<script src="js/ui.js"></script>
<script src="js/ui.js"></script>
</html>
