<html ng-app="app">
  <body ng-controller="test">
    <h3>Current Mutable Value: {{brush.mut}}</h3>
    <label>Min Size</label>
    <input type="text" ng-model="brush.min"/>
    <input type="text" ng-model="brush.max"/>
    <script src="../bower_components/underscore/underscore-min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../js/painter.js"></script>
    <script src="../js/msgpass.js"></script>
    <script>
      var ps = new PublishSubscriber;

      var mut = new Mutable().setType(
        new RandomIntervalNumber().setRange(1,10)
      );

      window.m = mut;

      mut.cycle.setRange(0, 1);

      angular.module('app', []);

      angular.module('app').controller('test', function($scope){
        $scope.brush = {
          max: 10,
          min: 2,
          mut: +mut
        }

        function cycleMut(){
          mut.update();
          $scope.brush.mut = +mut;
          $scope.$apply();

          setTimeout(function(){
            cycleMut();
          }, 500);
        }

        $scope.mutValue = +mut

        cycleMut();

        /* 
        * This would be in the painter
        * Painter Start
        */
        function updateRange(){
          mut.value.setRange($scope.brush.min, $scope.brush.max);
        }

        ps.subscribe('minSize', 'app', updateRange);
        ps.subscribe('maxSize', 'app', updateRange);

        /*
        * Painter End
        * Pretty much everything else in the GUI
        */

        $scope.$watch('brush', function(changed, b){
          ps.setValue('minSize', 'gui', $scope.brush.min);
          ps.setValue('maxSize', 'gui', $scope.brush.max);
        }, true);

      });
    </script>
  </body>
</html>
