<!DOCTYPE HTML>
<html lang="en" ng-app="PainterApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            background: #eee;
        }

        canvas{
            background: #fff;
            -webkit-box-shadow: 2px 2px 5px #ccc;
        }
    </style>
</head>
<body ng-controller="PainterCtrl">
    <form>
      <button ng-click="start()">Start</button>
      <div ng-show="painter.hasLoaded">
        <button ng-click="stop()">Stop</button><br />
        <label for="minBrushSize">Minimum Brush Size</label>
        <input id="minBrushSize" type="number" ng-model="painter.brushMinSize"/><br />
        <label for="maxBrushSize">Max Brush Size</label>
        <input id="maxBrushSize" type="number" ng-model="painter.brushMaxSize"/><br />
        <label for="brushCount">Brush Count</label>
        <input ng-model="painter.brushCount" type="text"/><br />
        <label for="brushType">Brush Type</label>
        <select id="brushType" ng-model="painter.brushType">
          <option ng-repeat="brush in brushTypes">{{brush}}</option>
        </select>
        <select id="brushMovement" ng-model="painter.brushMovement">
          <option ng-repeat="movement in brushMovements">{{movement}}</option>
        </select>

      </div>
    </form>
    <canvas canvas-painter id="canvas" width="770" height="1024">
</body>
<script src="../bower_components/underscore/underscore-min.js"></script>
<script src="../js/painter.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../js/ui.js"></script>
</html>
