<!DOCTYPE HTML>
<html lang="en" ng-app="PainterApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../bower_components/angular-slider/angular-slider.min.css"/>
    <style>
        body{
            background: #eee;
        }

        canvas{
            background: #fff;
            -webkit-box-shadow: 2px 2px 5px #ccc;
        }
    </style>
</head>
<body ng-controller="PainterCtrl">
    <form>
      <button ng-click="start()">Start</button>
      <div ng-show="painter.hasLoaded">
      <button ng-click="stop()">Stop</button><br />
      <label for="minBrushSize">Brush Size</label>
      <div style="width: 400px; position: relative; display: block;">
      <slider floor="1" ceiling="50" step="1" precision="2" ng-model-low="painter.brushMinSize" ng-model-high="painter.brushMaxSize"></slider>
      </div>
        <label for="brushCount">Brush Count</label>
        <input ng-model="painter.brushCount" type="text"/><br />
        <label for="brushType">Brush Type</label>
        <select id="brushType" ng-model="painter.brushType">
          <option ng-repeat="brush in brushTypes">{{brush}}</option>
        </select>
        <select id="brushMovementType" ng-model="painter.brushMovementType">
          <option ng-repeat="movement in brushMovements">{{movement}}</option>
        </select>
        <div style="width: 400px; position: relative; display: block;">
          <label>How often to change direction</label>
          <slider floor="1" ceiling="1000" step="1" precision="2" ng-model-low="painter.movementChangeDirectionMin" ng-model-high="painter.movementChangeDirectionMax"></slider>
        </div>

      </div>
    </form>
    <canvas canvas-painter id="canvas" width="770" height="1024">
</body>
<script src="../bower_components/underscore/underscore-min.js"></script>
<script src="../js/painter.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-slider/angular-slider-custom.js"></script>
<script src="../js/ui.js"></script>
</html>
